* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
    line-height: 1.8rem;
    word-break: normal;
}

img {
    display: block;
    max-width: 100%;
}

ol {
    list-style: none;
}

ol  li:before {
    content: '-';
}

.app-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 28px;
    float: left;
    background: url("../images/code.jpg") round;
}

.nav {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    padding: 12px 20px;
    top: 0;
    left: 0;
}

.page-title {
    border-bottom: 2px solid #BCBBBB;
    padding-bottom: 15px;
    margin-bottom: 24px;
    max-width: 100%;
}

.page-title h1, h4 {
    margin-bottom: 0;
}

.page-title h4 {
    margin-top: 2px;
}

.main-content {
    margin-top: 8rem;
    overflow: auto;
}

.hero {
    max-height: 300px;
    height: auto;
}

.container {
    width: 100%;
    position: absolute;
    padding: 12px 20px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

[class^=col-] {
    padding: 2px;
    width: 100%;
}

@media screen and (min-width: 700px){
    .nav {
        padding: 12px 72px;
    }

    .container {
        padding: 12px 72px;
    }
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .text-huge {
        font-size: 60px;
    }
}

.text-huge {
    font-size: 28px;
}

.all-caps {
    text-transform: uppercase;
}

.float-right {
    text-align: right;
}

.text-center * {
    text-align: center;
}

.text-thin {
    font-weight: 100;
}

.text-muted * {
    color: #BCBBBB;
}

.thumbnail {
    padding: 5px;
}

.thumbnail img {
    height: 180px;
    width: 100%;
}

.thumbnail .title,
.thumbnail p{
    margin-top: 12px;
    margin-bottom: 6px;
}


